@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
    var Departments = new SelectList(ViewBag.Departments, "Id", "Name");
}

<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Employee" enctype="multipart/form-data">
            <partial name="PartialViews/CreateOrUpdatePartialView" />
            <input type="submit" value="Update" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>



